.button {
    padding: 0.3rem;
    background-color: transparent;
    border: transparent;
    font-size: 1rem;
    border: 2px solid teal;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-outlined {
    color: teal;
}

.button-contained {
    background-color: teal;
    color: white;
}

.button-large {
    width: 12rem;
}

.button-outlined:hover {
    color: var(--primary-hover);
}

.button-contained:hover {
    background-color: var(--primary-hover);
}

.button:hover {
    border-color: var(--primary-hover);
}

.error-button {
    background-color: grey;
    cursor: unset;
}

.error-button:hover {
    background-color: grey;
}