.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    gap: 1rem;
    width: 100%;
    z-index: 5;
}

.logo {
    height: 3rem
}

.topnav-light {
    background-color: white;
}

.topnav-dark {
    background-color: black;
}

.header {
    font-family: var(--font-header);
    font-size: 2.5rem;
    font-weight: bold;
    color: teal;
    cursor: pointer;
}

.header-span {
    color: var(--primary-hover);
}

.topnav-actions {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    position: relative;
}

.topnav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    top: 3rem;
    right: 0;
    gap: 0.5rem;
    color: white;
    background-color: teal;
    padding: 0.5rem 1.5rem;
    width: max-content;
    border-radius: 0.5rem;
}

.icon {
    border-radius: 1rem;
    border: 2px solid teal;
    padding: 0.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 460px) {

    .header {
        font-size: 2.1rem;
    }

    .topnav {
        padding: 0 0.5rem;
    }

    .topnav-actions {
        gap: 0.4rem;
    }

}