.idea-showcase{
    border: 2px solid lightseagreen;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between; 
}
.idea-intro{
    white-space: nowrap;
    width: 55ch;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cursor{
    cursor: pointer;
    flex-wrap: wrap;
}
.idea-modal-footer{
    width: 100%;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.bold-font{
    font-weight: 600;
}
.spacebtw{
    display: flex;
    justify-content: space-between;
}
.buttonZindex{
    z-index: 0;
}
.marginLeft{
    margin-right: 1.5rem;
}
.marginLeft-sm{
    margin-right: 0.5rem;
}
.gap-display{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.modal-desc {
    text-overflow: scroll;
}

.button-actions {
    margin-left: 1rem
}

.comment-list{
    height: 11rem;
    margin-top: 0.5rem;
    overflow-y: auto;
    width: 100%;
}
.date-section{
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    width: fit-content;
    font-size: 1.1rem;
    background-color: lightgray;
}
.input-border{
    border: 2px solid teal;
}

.profile-details {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
}

.profile-details .name {
    font-weight: bold;
    margin-bottom: -0.1rem;
}

.profile-details .date {
    font-size: 0.7rem;
}

.single-comment .comment {
    padding: 0.3rem 1.7rem
}

.modal-creation {
    padding: 0 0.5rem
}

.comment-list::-webkit-scrollbar {
    width: 0.5rem;
}

.comment-list::-webkit-scrollbar-track {
    background-color: rgb(192, 183, 183);
    border-radius: 3rem;
}

.comment-list::-webkit-scrollbar-thumb {
    background-color: hsl(288, 6%, 33%);
    border-radius: 3rem;
}

.text_light {
    color: black;
}

.text_dark {
    color: white;
}

@media only screen and (max-width: 700px) {
    .idea-intro{
        width: 24ch;
    }
}

@media only screen and (max-width: 400px) {
    .idea-intro{
        width: 15ch;
    }
}