.profile-page-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.profile-div {
  width: 100%;
  padding: 0.5rem;
  border: 1.5px solid teal;
  margin: 1rem 0;
  border-radius: 10px;
}
.profile-form {
  padding: 1rem;
}

.form-label {
  color: teal;
}
.options {
    color: black;
}

.table-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 5rem
}

.idea-listing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.idea-div {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  border: 1.5px solid teal;
  max-width: 40rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.idea-details {
  margin-top: 0.5rem;
}

.idea-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.idea-header {
  display: flex;
  justify-content: space-between;
}

.idea-upvotes {
  background-color: teal;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: white
}