@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');
:root {
  --primary: rgb(0,127,255);
  --primary-hover: rgb(0,89,178);
  --bg-dark: rgb(0,30,60);
  --bg-light: rgb(255,255,255);
  --grey: rgb(243,246,249);
  --font: 'Roboto', sans-serif;
  --font-header: 'Nunito', sans-serif;
}

.app-light {
  z-index: -1;
  background-color: white;
}

.app-dark {
  z-index: -1;
  background-color: black;
}

/* reset */
h1{
  margin: 0;
}
/* ##### */
.App{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto ;
  grid-template-rows: 4rem auto 5rem;
  min-height: 100vh;
  grid-template-areas: 
                "nav-section"
                "main-section"
                "footer-section";
}
.nav-section{
  position: fixed;
  left: 0;
  right: 0;
  grid-area: nav-section;
}
.footer-section{
  grid-area: footer-section;
}

.main-content{
  grid-area: main-section;
}
.explore-header{
  display: flex;
  gap: 1rem;
}
.explore-section{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
}
.input-section{
  border-radius: 0.5rem;
  border: 2px solid black;
}

.text-span { 
  color: red;
}

.auth-forms {
  display: flex;
  justify-content: center;
  align-items: center;

}