@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');
:root {
  --primary: rgb(0,127,255);
  --primary-hover: rgb(0,89,178);
  --bg-dark: rgb(0,30,60);
  --bg-light: rgb(255,255,255);
  --grey: rgb(243,246,249);
  --font: 'Roboto', sans-serif;
  --font-header: 'Nunito', sans-serif;
}
/* reset */
h1{
  margin: 0;
}
/* ##### */
.App{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto ;
  grid-template-rows: 3rem auto 5rem;
  min-height: 100vh;
  grid-template-areas: 
                "nav-section"
                "main-section"
                "footer-section";
}
.nav-section{
  position: fixed;
  left: 0;
  right: 0;
  grid-area: nav-section;
  border: 1px solid black;
}
.footer-section{
  border: 1px solid red;
  grid-area: footer-section;
}

.main-content{
  border: 1px solid red;
  grid-area: main-section;
}